<!DOCTYPE html>
<html>
<head>
  <title>VapeSauce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <html lang="en">
  <%= csrf_meta_tags %>
</head>
    
    <!-- Start nav code here -->
    
<body>
 <nav class="navbar top-level-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-fixed-top navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", home_path %></li>
        
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
            </li>
          <ul class="dropdown-menu">
            <li><a href="#">Gaming Fuel</a></li>
            <li><a href="#">Gentlemen's Wear</a></li>
            <li><a href="#">Pony Products</a></li>
            <li><a href="#">Vape Gear</a></li>
            <li><a href="#">Vape Juice</a></li>
            <li><a href="#">Waifus</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "All Products", products_path %></li>
          </ul>
        </li>
        
        <li><%= link_to "About", about_path %></li> <%#views/about.html.erb%>
        <li><%= link_to "Contact Us", contact_path %></li> <%#views/contact.html.erb%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><%= link_to basket_path do %>
          <span class="glyphicon glyphicon-shopping-cart"></span> Cart
          <%end%>
          </li>
      </ul>
    </div>
  </div>
</nav>
 <!-- old jumbotron 
    <div class="jumbotron">
  <div class="container text-center">
    <h1>VapeSauce Online Store</h1>
    <p>The only store for the true gentleman</p>
  </div>
</div>
-->
<div class="jumbotron">
  <video id="video-background" preload muted autoplay loop>
    <source src="https://d2v9y0dukr6mq2.cloudfront.net/video/preview/slow-motion-billowing-dirty-smoke_zjduuxplr__PS.mp4" type="video/mp4">
    <source src="https://d2v9y0dukr6mq2.cloudfront.net/video/preview/slow-motion-billowing-dirty-smoke_zjduuxplr__PS.mp4.ogg" type="video/ogg">
  </video>
 
    <div class="container text-center">
    <h1>VapeSauce Online Store</h1>
    <p>The only store for the true gentleman</p>

  </div>
</div>




</body>
    
    <!-- End nav code here -->

<%= yield %>
</html>